<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.AlarmMapper">
  <resultMap id="BaseResultMap" type="com.tyj.jhpt.bo.Alarm">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="car_vin" property="carVin" jdbcType="VARCHAR" />
    <result column="event_time" property="eventTime" jdbcType="TIMESTAMP" />
    <result column="max_alarm_level" property="maxAlarmLevel" jdbcType="INTEGER" />
    <result column="general_alarm" property="generalAlarm" jdbcType="DOUBLE" />
    <result column="bytes1" property="bytes1" jdbcType="LONGVARBINARY" />
    <result column="bytes2" property="bytes2" jdbcType="LONGVARBINARY" />
    <result column="bytes3" property="bytes3" jdbcType="LONGVARBINARY" />
    <result column="bytes4" property="bytes4" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `car_vin`, `event_time`, `max_alarm_level`, `general_alarm`, `bytes1`, `bytes2`, `bytes3`, `bytes4`
  </sql>
  <insert id="insert" parameterType="com.tyj.jhpt.bo.Alarm" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    insert into `tb_alarm` (`car_vin`, `event_time`, `max_alarm_level`, 
      `general_alarm`, `bytes1`, `bytes2`, 
      `bytes3`, `bytes4`)
    values (#{carVin,jdbcType=VARCHAR}, #{eventTime,jdbcType=TIMESTAMP}, #{maxAlarmLevel,jdbcType=INTEGER}, 
      #{generalAlarm,jdbcType=DOUBLE}, #{bytes1,jdbcType=LONGVARBINARY}, #{bytes2,jdbcType=LONGVARBINARY}, 
      #{bytes3,jdbcType=LONGVARBINARY}, #{bytes4,jdbcType=LONGVARBINARY})
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `tb_alarm` (`car_vin`, `event_time`, `max_alarm_level`, 
      `general_alarm`, `bytes1`, `bytes2`, 
      `bytes3`, `bytes4`)
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.carVin,jdbcType=VARCHAR}, #{item.eventTime,jdbcType=TIMESTAMP}, #{item.maxAlarmLevel,jdbcType=INTEGER}, 
        #{item.generalAlarm,jdbcType=DOUBLE}, #{item.bytes1,jdbcType=LONGVARBINARY}, #{item.bytes2,jdbcType=LONGVARBINARY}, 
        #{item.bytes3,jdbcType=LONGVARBINARY}, #{item.bytes4,jdbcType=LONGVARBINARY})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.jhpt.bo.Alarm" useGeneratedKeys="true" keyProperty="id">
    insert into `tb_alarm`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carVin != null">
        `car_vin`,
      </if>
      <if test="eventTime != null">
        `event_time`,
      </if>
      <if test="maxAlarmLevel != null">
        `max_alarm_level`,
      </if>
      <if test="generalAlarm != null">
        `general_alarm`,
      </if>
      <if test="bytes1 != null">
        `bytes1`,
      </if>
      <if test="bytes2 != null">
        `bytes2`,
      </if>
      <if test="bytes3 != null">
        `bytes3`,
      </if>
      <if test="bytes4 != null">
        `bytes4`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carVin != null">
        #{carVin,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxAlarmLevel != null">
        #{maxAlarmLevel,jdbcType=INTEGER},
      </if>
      <if test="generalAlarm != null">
        #{generalAlarm,jdbcType=DOUBLE},
      </if>
      <if test="bytes1 != null">
        #{bytes1,jdbcType=LONGVARBINARY},
      </if>
      <if test="bytes2 != null">
        #{bytes2,jdbcType=LONGVARBINARY},
      </if>
      <if test="bytes3 != null">
        #{bytes3,jdbcType=LONGVARBINARY},
      </if>
      <if test="bytes4 != null">
        #{bytes4,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `tb_alarm`
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tb_alarm`
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `tb_alarm`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.jhpt.bo.Alarm">
    update `tb_alarm`
    <set>
      <if test="carVin != null">
        `car_vin` = #{carVin,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null">
        `event_time` = #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxAlarmLevel != null">
        `max_alarm_level` = #{maxAlarmLevel,jdbcType=INTEGER},
      </if>
      <if test="generalAlarm != null">
        `general_alarm` = #{generalAlarm,jdbcType=DOUBLE},
      </if>
      <if test="bytes1 != null">
        `bytes1` = #{bytes1,jdbcType=LONGVARBINARY},
      </if>
      <if test="bytes2 != null">
        `bytes2` = #{bytes2,jdbcType=LONGVARBINARY},
      </if>
      <if test="bytes3 != null">
        `bytes3` = #{bytes3,jdbcType=LONGVARBINARY},
      </if>
      <if test="bytes4 != null">
        `bytes4` = #{bytes4,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.jhpt.bo.Alarm">
    update `tb_alarm`
    set `car_vin` = #{carVin,jdbcType=VARCHAR},
      `event_time` = #{eventTime,jdbcType=TIMESTAMP},
      `max_alarm_level` = #{maxAlarmLevel,jdbcType=INTEGER},
      `general_alarm` = #{generalAlarm,jdbcType=DOUBLE},
      `bytes1` = #{bytes1,jdbcType=LONGVARBINARY},
      `bytes2` = #{bytes2,jdbcType=LONGVARBINARY},
      `bytes3` = #{bytes3,jdbcType=LONGVARBINARY},
      `bytes4` = #{bytes4,jdbcType=LONGVARBINARY}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>