<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2018. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.DeviceInfoMapper">
  <resultMap id="BaseResultMap" type="com.tyj.jhpt.bo.DeviceInfo">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="iccid" property="iccid" jdbcType="VARCHAR" />
    <result column="terminal_seq" property="terminalSeq" jdbcType="VARCHAR" />
    <result column="car_vin" property="carVin" jdbcType="VARCHAR" />
    <result column="terminal_no" property="terminalNo" jdbcType="VARCHAR" />
    <result column="dianji_no" property="dianjiNo" jdbcType="VARCHAR" />
    <result column="fadongji_no" property="fadongjiNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="driving_license" property="drivingLicense" jdbcType="INTEGER" />
    <result column="identity_no" property="identityNo" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="INTEGER" />
    <result column="weixin_account" property="weixinAccount" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="recorder_id" property="recorderId" jdbcType="INTEGER" />
    <result column="outofdate_time" property="outofdateTime" jdbcType="TIMESTAMP" />
    <result column="activate_times" property="activateTimes" jdbcType="INTEGER" />
    <result column="if_active" property="ifActive" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `iccid`, `terminal_seq`, `car_vin`, `terminal_no`, `dianji_no`, `fadongji_no`, `name`, `age`, `driving_license`, `identity_no`, 
    `telephone`, `plate_no`, `car_type`, `weixin_account`, `create_time`, `recorder_id`, `outofdate_time`, `activate_times`, 
    `if_active`
  </sql>
  <insert id="insert" parameterType="com.tyj.jhpt.bo.DeviceInfo" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    insert into `tb_device_info` (`iccid`, `terminal_seq`, `car_vin`, 
      `terminal_no`, `dianji_no`, `fadongji_no`, 
      `name`, `age`, `driving_license`, 
      `identity_no`, `telephone`, `plate_no`, 
      `car_type`, `weixin_account`, `create_time`, 
      `recorder_id`, `outofdate_time`, `activate_times`, 
      `if_active`)
    values (#{iccid,jdbcType=VARCHAR}, #{terminalSeq,jdbcType=VARCHAR}, #{carVin,jdbcType=VARCHAR}, 
      #{terminalNo,jdbcType=VARCHAR}, #{dianjiNo,jdbcType=VARCHAR}, #{fadongjiNo,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{drivingLicense,jdbcType=INTEGER}, 
      #{identityNo,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{plateNo,jdbcType=VARCHAR}, 
      #{carType,jdbcType=INTEGER}, #{weixinAccount,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{recorderId,jdbcType=INTEGER}, #{outofdateTime,jdbcType=TIMESTAMP}, #{activateTimes,jdbcType=INTEGER}, 
      #{ifActive,jdbcType=INTEGER})
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `tb_device_info` (`iccid`, `terminal_seq`, `car_vin`, 
      `terminal_no`, `dianji_no`, `fadongji_no`, 
      `name`, `age`, `driving_license`, 
      `identity_no`, `telephone`, `plate_no`, 
      `car_type`, `weixin_account`, `create_time`, 
      `recorder_id`, `outofdate_time`, 
      `activate_times`, `if_active`)
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.iccid,jdbcType=VARCHAR}, #{item.terminalSeq,jdbcType=VARCHAR}, #{item.carVin,jdbcType=VARCHAR}, 
        #{item.terminalNo,jdbcType=VARCHAR}, #{item.dianjiNo,jdbcType=VARCHAR}, #{item.fadongjiNo,jdbcType=VARCHAR}, 
        #{item.name,jdbcType=VARCHAR}, #{item.age,jdbcType=INTEGER}, #{item.drivingLicense,jdbcType=INTEGER}, 
        #{item.identityNo,jdbcType=VARCHAR}, #{item.telephone,jdbcType=VARCHAR}, #{item.plateNo,jdbcType=VARCHAR}, 
        #{item.carType,jdbcType=INTEGER}, #{item.weixinAccount,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.recorderId,jdbcType=INTEGER}, #{item.outofdateTime,jdbcType=TIMESTAMP}, 
        #{item.activateTimes,jdbcType=INTEGER}, #{item.ifActive,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.jhpt.bo.DeviceInfo" useGeneratedKeys="true" keyProperty="id">
    insert into `tb_device_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iccid != null">
        `iccid`,
      </if>
      <if test="terminalSeq != null">
        `terminal_seq`,
      </if>
      <if test="carVin != null">
        `car_vin`,
      </if>
      <if test="terminalNo != null">
        `terminal_no`,
      </if>
      <if test="dianjiNo != null">
        `dianji_no`,
      </if>
      <if test="fadongjiNo != null">
        `fadongji_no`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        `age`,
      </if>
      <if test="drivingLicense != null">
        `driving_license`,
      </if>
      <if test="identityNo != null">
        `identity_no`,
      </if>
      <if test="telephone != null">
        `telephone`,
      </if>
      <if test="plateNo != null">
        `plate_no`,
      </if>
      <if test="carType != null">
        `car_type`,
      </if>
      <if test="weixinAccount != null">
        `weixin_account`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="recorderId != null">
        `recorder_id`,
      </if>
      <if test="outofdateTime != null">
        `outofdate_time`,
      </if>
      <if test="activateTimes != null">
        `activate_times`,
      </if>
      <if test="ifActive != null">
        `if_active`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iccid != null">
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="terminalSeq != null">
        #{terminalSeq,jdbcType=VARCHAR},
      </if>
      <if test="carVin != null">
        #{carVin,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null">
        #{terminalNo,jdbcType=VARCHAR},
      </if>
      <if test="dianjiNo != null">
        #{dianjiNo,jdbcType=VARCHAR},
      </if>
      <if test="fadongjiNo != null">
        #{fadongjiNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="drivingLicense != null">
        #{drivingLicense,jdbcType=INTEGER},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="plateNo != null">
        #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="weixinAccount != null">
        #{weixinAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recorderId != null">
        #{recorderId,jdbcType=INTEGER},
      </if>
      <if test="outofdateTime != null">
        #{outofdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activateTimes != null">
        #{activateTimes,jdbcType=INTEGER},
      </if>
      <if test="ifActive != null">
        #{ifActive,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `tb_device_info`
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tb_device_info`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `tb_device_info`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `tb_device_info`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.jhpt.bo.DeviceInfo">
    update `tb_device_info`
    <set>
      <if test="iccid != null">
        `iccid` = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="terminalSeq != null">
        `terminal_seq` = #{terminalSeq,jdbcType=VARCHAR},
      </if>
      <if test="carVin != null">
        `car_vin` = #{carVin,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null">
        `terminal_no` = #{terminalNo,jdbcType=VARCHAR},
      </if>
      <if test="dianjiNo != null">
        `dianji_no` = #{dianjiNo,jdbcType=VARCHAR},
      </if>
      <if test="fadongjiNo != null">
        `fadongji_no` = #{fadongjiNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        `age` = #{age,jdbcType=INTEGER},
      </if>
      <if test="drivingLicense != null">
        `driving_license` = #{drivingLicense,jdbcType=INTEGER},
      </if>
      <if test="identityNo != null">
        `identity_no` = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        `telephone` = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="plateNo != null">
        `plate_no` = #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        `car_type` = #{carType,jdbcType=INTEGER},
      </if>
      <if test="weixinAccount != null">
        `weixin_account` = #{weixinAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recorderId != null">
        `recorder_id` = #{recorderId,jdbcType=INTEGER},
      </if>
      <if test="outofdateTime != null">
        `outofdate_time` = #{outofdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activateTimes != null">
        `activate_times` = #{activateTimes,jdbcType=INTEGER},
      </if>
      <if test="ifActive != null">
        `if_active` = #{ifActive,jdbcType=INTEGER},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.jhpt.bo.DeviceInfo">
    update `tb_device_info`
    set `iccid` = #{iccid,jdbcType=VARCHAR},
      `terminal_seq` = #{terminalSeq,jdbcType=VARCHAR},
      `car_vin` = #{carVin,jdbcType=VARCHAR},
      `terminal_no` = #{terminalNo,jdbcType=VARCHAR},
      `dianji_no` = #{dianjiNo,jdbcType=VARCHAR},
      `fadongji_no` = #{fadongjiNo,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `age` = #{age,jdbcType=INTEGER},
      `driving_license` = #{drivingLicense,jdbcType=INTEGER},
      `identity_no` = #{identityNo,jdbcType=VARCHAR},
      `telephone` = #{telephone,jdbcType=VARCHAR},
      `plate_no` = #{plateNo,jdbcType=VARCHAR},
      `car_type` = #{carType,jdbcType=INTEGER},
      `weixin_account` = #{weixinAccount,jdbcType=VARCHAR},
      `create_time` = #{createTime,jdbcType=TIMESTAMP},
      `recorder_id` = #{recorderId,jdbcType=INTEGER},
      `outofdate_time` = #{outofdateTime,jdbcType=TIMESTAMP},
      `activate_times` = #{activateTimes,jdbcType=INTEGER},
      `if_active` = #{ifActive,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>