<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.CarLoginLogoutMapper">
    <select id="findByVinAndTraceNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `tb_car_login_logout`
        where `car_vin` = #{vin} and `trace_no` = #{traceNo} and DATE_FORMAT(`login_time`, '%Y-%m-%d') = #{date}
    </select>
</mapper>