<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.WenduMapper">
    <resultMap id="ExtBaseResultMap" type="com.tyj.jhpt.bo.Wendu">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="car_vin" property="carVin" jdbcType="VARCHAR" />
        <result column="event_time" property="eventTime" jdbcType="TIMESTAMP" />
        <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findPageWendu" resultMap="ExtBaseResultMap">
        select
        a.`id`, a.`car_vin`, a.`event_time`, b.`plate_no`
        from `tb_wendu` a
        join `tb_device_info` b on a.`car_vin` = b.`car_vin`
        <where>
            <if test="plateNo != null and plateNo != ''">
                and b.`plate_no` like CONCAT('%', #{plateNo}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                AND a.`event_time` &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND a.`event_time` &lt;= #{endDate}
            </if>
        </where>
    </select>
</mapper>