<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017. CK. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.WenduDetailMapper">
    <select id="findByIds" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM `tb_wendu_detail` WHERE `wendu_id` IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>